*{font-family: "Noto Serif", serif;}
.prof-img{width: 400px; height: 400px;}
.header-section .navbar-brand{font-size: 23px;}
.header-section .nav-item{font-size: 18px;}
.text-justify{text-align: justify;}
